@font-face {
    font-family: 'starborn';
    src: url('/Front-End/fonts/Superadorable.ttf') format('truetype');
    font-weight: normal;
}

body {
    background-color: #403659;
    margin: 0;
    padding: 0;
}

h1 {
    color: #13a448;
    background-color: #00C15D;
    border-radius: 15px;
    width: 13%;
    text-align: center;
    border: 3px solid #038d46;
    border-style: dashed;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

a {
    color: #038d46;
    text-decoration: none;
}

.main-nav {
    background-color: #583B53;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    padding: 0 15px;
}

.nav-item.logo {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.nav-item.page {
    text-align: center;
}

.w3-bar-item.w3-button {
    color: white;
    padding: 8px 16px;
    display: block;
}

.w3-bar-item.w3-button:hover {
    background-color: #775A70;
}




